<login>
    <div class="ui card">
        <h2>login</h2>
        <div class="ui form">
            <form onsubmit={ handleSubmit }>
            </form>
        </div>
    </div>
    <script>
        export default {
            handleSubmit(e) {
                
            }
        }
    </script>
</login>