<notfound>
  <div class="nes-container is-dark is-rounded">
    <h1>404 NotFound!!</h1>
    <p>ページが見つからない、もしくは開発中です。</p>
  </div>

  <style>
    .nes-container.is-dark.is-rounded {
      text-align: center;
    }
  </style>
  <script>
    export default {
    }
  </script>
</notfound>