<app>
  <router base={ base }>
    <app-route/>
  </router>

  <script>
    import AppRoute from './components/app-router.riot'
    export default {
        components: {
            AppRoute
        },
        base: `${window.location.protocol}//${window.location.host}`
    }
  </script>

  <style>
      :host {
          font-family:'MochiFont' !important;
          height: 100%;
      }
  </style>
</app>