<role-buttons>
    <div class="nes-container is-rounded is-dark">
        <button each={ item in props.buttons } 
            class="nes-btn { item.color }"
            value={ item.language }
            onclick={ handleClick }>{ item.language }</button>
    </div>

    <script>
        export default {
            handleClick(e) {
                this.props.confirm(e)
            }
        }
    </script>
</role-buttons>